*{
    margin: 0px;
}
.navbar{
   height: 60px; 
   display: flex;
   justify-content: space-between;
   background-color: rgb(129, 185, 249);
   padding: 0px 50px;
   align-items: center;
   
}
.search>::placeholder{
  font-size: 14px;
  color: black;
  transform: translate(50px);
}
.logo>img{
    height: 80px;
    width: 150px;
    
}
.search>input{
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: solid;
    border: 0.5px gray;
    transform: translate(-100px);
    background-color: rgb(255, 255, 255); 
}
.select>select{
    height: 30px;
    width:100px ;
    transform: translate(120px);
    border: none;
    border-radius: 7px;
}
.sigin>button{
    height:30px ;
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.navlink{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    height: 50px;
    align-items: center;
    background-color: rgb(189, 189, 189);
}
.navlink a{
    margin: 0px 5px;
    color: black;
    text-decoration: none;
}
.section1 img{
    margin: 10px;
    width: 100vw;
    height: 300px;
}
.section1{
    background-color: whitesmoke;
}
.section2>img{
    width: 95%;
    margin: 50px 0px 0px 40px;
    border-radius: 10px;
}
.section3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3>h1{
    margin: 50px 0px 0px 50px;
}
.section3>a{
    margin: 50px 50px 0px 0px;
    color: red;
    text-decoration: none;
}
.section4{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;

}
.sub1>img{
    height: 400px;
    width: 250px;
    border-radius: 5px;
    position: relative;
    /* top: 100px; */
    transition: 1.5s;
}
.sub1{
    height: 400px;
    width: 210px; 
}
.sub1>span{
    color: gray;
}
.sub1>img:hover{
    height: 500px;
    width: 500px;
    z-index: 2;
    scale: 1.1;
 
}
#Searchicon{
  height: 27px;
  z-index: 1; 
  position: relative;
  transform: translate(-55px,10px);
}